/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 10, 2014, 11:50:28 AM
    Author     : jianhui.jjh
*/


#content {
}

#menu ul li a{
    display: block;
    cursor: hand;
}
#menu ul li a:hover{
    /*background-color: blanchedalmond;*/
}

.loginDiv{
    margin-top: 50px;
    border: 1px solid red;
    height: 300px;
}

.loginTitle{
    font-size: 18px;
    padding-bottom: 30px;
    color:  #008000;
}

.loginDiv .loginLine{
    margin-bottom: 10px;
}

.loginLines{
    /*width: 400px;*/
    /*border: 1px solid blue;*/
    margin-top: 50px auto;
    /*border: 1px dotted red;*/
    margin-left: 300px;
    text-align: left;
}
    
 .updateLine{
    margin-top: 15px;
    font-size: 15px;
    font-family: '宋体', 'Microsoft Yahei', '微软雅黑', sans-serif;;
    /*border: 1px dotted red;*/
}

.updateLine .text{
    width: 500px;
    text-align: left;
    /*margin-right: 330px;*/
}

.updateLine .warning{
    color: red;
    font-size: 13px;
}


.updateLine .input{
    width: 300px;
    background-color: white;
    /*height: 40px;*/
    vertical-align: middle;
    margin-top: 8px;
    padding: auto;
    
     max-height: 100px; 
     _height : 40px; 
     overflow-y:auto;
}   

.updateLine .btn{
    margin-left: 250px;
}


/*技术难题中的搜索部分*/
.searchAreas{
    text-align: left;
    width: 100%;
}

.searchLine{
    float:left;
    width:30%;
    margin-left: 3%;
}

.searchTitle{
    font-family: Times New Roman;
}

.searchLine select{
    width: 70%;
    border-radius: 3px;
    background: white;
    height: 30px;
    line-height: 30px;
    
    _height:40px; 
    
}

.searchResults{
    width:100%;
}

.recordTables{
    float:left;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 16px;
    width: 90%;
    margin-left: 3px;
    font-family: Tahoma, Geneva,"\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",sans-serif;
    table-layout: fixed;
}

.recordTables tr:hover{
    background-color: mintcream;
}

.recordTables tr td,.recordTables tr th{
    border: 1px dotted bisque;
    padding: 4px;
    text-align: center;
    /*width: 150px;*/
    height: 20px;
    font-size: 13px;
}

.recordTables tr td{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.recordTables .shortTD{
    width:50px;
    max-width: 50px;
}

.recordTables .tinyTD{
    width:80px;
    max-width: 80px;
}

.recordTables .MiddleTD{
    width: 150px;
    max-width: 80px;
}


.recordTables  a{
    text-align: left;
}

.recordTables tr td,
.recordTables tr,
.recordTables{
    border-collapse: collapse;
}

.recordTables .editCol{
    width: 200px;
}


.fileAddDiv{
    text-align: right;
    float: right;
    width:500px;
    margin-left:300px;
    /*border:1px dotted red;*/
}


.fileAddDiv a{
    float:left;
    margin-right: 20px;
    width:120px;
}

.fileAddDiv form{
    width:350px;
    margin-right: 0px;
    margin-left: 0px;
}

.fileAddDiv .uploadFormDiv{
    float:left;
    /*border:1px dotted blue;*/
}

.fileAddDiv .uploadFormDiv input{
    float:left;
    margin: 0px;
    width:150px;
    /*border:1px dotted red;*/
    margin-right:10px;
    color:#ffffff;
    background-color: #5cb85c;
    border-color:#4cae4c;
}


/*-----------------添加新的难题CSS---------------------*/
.addNewProblemForm{
    clear:both;
    text-align: left;
    margin-left: 20px;
}

.addNewProblemForm .info{
    margin-bottom: 15px;
}

.addNewProblemForm .infoMiddle{
    margin-top: 15px;
}

.addNewProblemForm .title{
    color:#4cae4c;
    font-weight: bold;
    font-size:24px;
}

.addNewProblemForm span{
    display: inline-block;
    width:80px;
    max-width:80px;
    text-align: right;
}


.addNewProblemForm input{
    width: 200px;
    display: inline;
    background-color: white;
    height: 30px;
}

.addNewProblemForm .short{
    width: 100px;
}

.addNewProblemForm .Long{
    width:770px;
}

.addNewProblemForm .MiddleLong{
    width:480px;
}




.addNewProblemForm .infoLine{
    margin-top: 13px;
    margin-bottom:10px;
}

.addNewProblemForm .middleWide{
    margin-top: 30px;
}

.addNewProblemForm textArea{
    background-color: white;
    display: inline;
    margin-right: 0px;
}

.errorInfo{
    color: red;
}


/*.....创新人才管理页面css控制............*/
